<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.jay.localsavetest">
    <application android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Jay's RPG Stat Tracker"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name="com.example.jay.localsavetest.NameEntry">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.jay.localsavetest.MainActivity"/>
        <activity android:name="com.example.jay.localsavetest.StartingScreen"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/title_activity_player_screen" android:name="com.example.jay.localsavetest.PlayerScreen" android:theme="@style/FullscreenTheme"/>
    </application>
</manifest>